@{
    ViewBag.Title = "Home Page";
}
<div class="row">
<div class="jumbotron" align="justify">
    <p> A cruise ship is a passenger ship used for recreational and leisure voyages, in which the journey itself and the onboard amenities, attractions, activities and entertainment options are integrant part of the cruise experience.<br /><br />

The rapid growth and specialization process experienced by the cruise industry in the last decades has also affected the design and general aesthetics, materials, size and overall onboard functionalities, equipment and amenities of modern cruise ships and recreational vessels to satisfy a clientele more and more numerous and sensitive to quality, who demands the most diversified services with assurance of satisfaction and excellence, while providing solutions to the growing concerns about the cruise industry’s environmental impact on marine and coastal communities and ecosystems.<br /><br />

Nowaydays, every continent and region on Earth can be visited onboard a cruise or recreational ship, including the most exotic, faraway places and secluded destinations.<br /><br />

In the same way, and along the last years, a good number of vessels managed by companies and organizations unrelated to the cruise industry have been redesigned or adapted to offer cruise services to passengers looking for unconventional experiences.<br /><br />

This section is dedicated to show the different types of vessels and ships designed to provide cruise and excursion services in seas, oceans, rivers and lakes all around the world.</p>
</div></div>

<div class="row">
    <div class="col-md-4">
        <h2>Mainstream Cruise Ship</h2>
        <p align="justify">
            The most common and known type of cruise ship, marketed to suit the needs of the majority of passengers, with all sorts of standard resort features.
        </p>
        <p><img src="~/img/Barco-Crucero-Convencional-Sub.jpg"/></p>
    </div>
    <div class="col-md-4">
        <h2>Mega Cruise Ship</h2>
        <p align="justify">A mega cruise ships are able to accommodate more than 5,000 persons, and they are currently the largest and more sophisticated vessels in the world.</p>
        <p><img src="~/img/Mega-Barco-Crucero-Sub.jpg"/></p>
    </div>
    <div class="col-md-4">
        <h2>Ocean Cruise Ship</h2>
        <p align="justify">Ocean cruise ships are built to the most exacting standards to withstand the harsh conditions of ocean voyages in long and world cruises.</p>
        <p><img src="~/img/Barco-Crucero-Oceanico-Sub.jpg"/></p>
    </div>
</div>